@import './reset';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto&display=swap');
@import url('https://use.fontawesome.com/releases/v5.9.0/css/all.css');

#root-container {
  min-height: 100vh;
}
header,
footer {
  font-family: 'Open Sans';
}

#content {
  max-width: 1024px;
}

.jumbotron {
  border-radius: 0;
  background-image: linear-gradient(
      rgba(2, 0, 36, 0.45),
      rgba(55, 90, 127, 0.45)
    ),
    url('https://raw.githubusercontent.com/owaisj/owaisj.github.io/master/images/bg.jpg');
  background-size: 100vw;
  background-position-y: 60%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.jumbotron h1 {
  text-shadow: 3px 3px 0 #000;
}

@media screen and (max-width: 900px) {
  .display-1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .jumbotron {
    // height: 40vh;
    background-size: 80vh;
  }
  .display-1 {
    font-size: 4rem;
  }
}

a {
  color: #ccc;
  &:hover {
    color: #fff;
    text-decoration-line: overline;
    text-decoration-color: grey;
  }
}

#skill-box {
  i {
    font-size: 4rem;
  }
}
